In [1]:
import pandas as pd 
import numpy as np 
from pathlib import Path

In [5]:
spy_feb_raw = pd.read_csv("./Spy30 Min/spy_30x_202202.txt")
spy_feb_raw.to_csv("./Spy30 Min/spy_30x_202202.csv", index=None)

C:\Users\aarch\AppData\Local\Temp\ipykernel_23732\1082609253.py:1: DtypeWarning: Columns (15,17,18,20,21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  spy_feb_raw = pd.read_csv("./Spy30 Min/spy_30x_202202.txt")

In [29]:
spy_feb_raw.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],[C_VEGA],[C_THETA],[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE]
0,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99757,0.00011,0.00286,-0.05236,0.01638,2.008630,,0.000000,20 x 20,150.560000,150.970000,300.0
1,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99739,0.00012,0.00282,-0.05223,0.01685,1.933080,,0.000000,20 x 20,145.560000,145.970000,305.0
2,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99781,0.00015,0.00285,-0.05292,0.01701,1.858600,,0.000000,20 x 20,140.560000,140.970000,310.0
3,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99691,0.00011,0.00267,-0.05255,0.01757,1.785750,,0.000000,20 x 20,135.560000,135.970000,315.0
4,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99810,0.00011,0.00172,-0.02766,0.01739,1.604380,,0.000000,20 x 10,130.560000,130.920000,320.0

In [30]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_feb_raw.drop(spy_feb_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_feb_raw.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],[C_VEGA],[C_THETA],[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE]
0,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99757,0.00011,0.00286,-0.05236,0.01638,2.008630,,0.000000,20 x 20,150.560000,150.970000,300.0
1,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99739,0.00012,0.00282,-0.05223,0.01685,1.933080,,0.000000,20 x 20,145.560000,145.970000,305.0
2,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99781,0.00015,0.00285,-0.05292,0.01701,1.858600,,0.000000,20 x 20,140.560000,140.970000,310.0
3,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99691,0.00011,0.00267,-0.05255,0.01757,1.785750,,0.000000,20 x 20,135.560000,135.970000,315.0
4,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99810,0.00011,0.00172,-0.02766,0.01739,1.604380,,0.000000,20 x 10,130.560000,130.920000,320.0

In [24]:
spy_jan_raw = pd.read_csv("./Spy30 Min/spy_30x_202201.txt")
spy_jan_raw.to_csv("./Spy30 Min/spy_30x_202201.csv", index=None)

C:\Users\aarch\AppData\Local\Temp\ipykernel_23732\1247263638.py:1: DtypeWarning: Columns (15,17,18,20,21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  spy_jan_raw = pd.read_csv("./Spy30 Min/spy_30x_202201.txt")

In [25]:
spy_jan_raw.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88342,0.00007,...,0.01,0.00000,0.00004,0.00004,-0.00491,0.0,3.921640,0.000000,241.4,0.507
1,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.01,-0.00015,0.00003,-0.00017,-0.00495,0.0,3.809690,0.000000,236.4,0.496
2,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88804,-0.00002,...,0.01,-0.00025,-0.00002,0.00045,-0.00460,0.0,3.700490,0.000000,231.4,0.486
3,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88920,0.00000,...,0.01,-0.00004,0.00003,-0.00018,-0.00544,0.0,3.593250,0.000000,226.4,0.475
4,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.01,-0.00044,0.00005,0.00032,-0.00536,0.0,3.487810,0.000000,221.4,0.465

In [27]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_jan_raw.drop(spy_jan_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_jan_raw.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88342,0.00007,...,0.00063,9.994200,,0.0,10 x 1,240.91,242.8,235.0,241.4,0.507
1,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.00000,,,0.0,1 x 20,235.59,236.46,240.0,236.4,0.496
2,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88804,-0.00002,...,0.00056,9.098910,,0.0,10 x 105,230.96,232.15,245.0,231.4,0.486
3,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88920,0.00000,...,0.00122,8.835610,,0.0,10 x 1,225.96,227.78,250.0,226.4,0.475
4,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.00000,,,0.0,105 x 1,220.65,221.91,255.0,221.4,0.465

In [31]:
spy_mar_raw = pd.read_csv("./Spy30 Min/spy_30x_202203.txt")
spy_mar_raw.to_csv("./Spy30 Min/spy_30x_202203.csv", index=None)

C:\Users\aarch\AppData\Local\Temp\ipykernel_23732\931898369.py:1: DtypeWarning: Columns (15,17,18,20,21,23,29) have mixed types. Specify dtype option on import or set low_memory=False.
  spy_mar_raw = pd.read_csv("./Spy30 Min/spy_30x_202203.txt")

In [32]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_mar_raw.drop(spy_mar_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_mar_raw.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1646145010,2022-03-01 09:30,2022-03-01,9.5,435.49,2022-03-02,1646254800,1.27,1.0,0.0,...,0.01518,,,0.0,300 x 300,149.59,150.630000,285.0,150.5,0.346
1,1646145010,2022-03-01 09:30,2022-03-01,9.5,435.49,2022-03-02,1646254800,1.27,1.0,0.0,...,0.01637,,,0.0,300 x 300,144.79,145.690000,290.0,145.5,0.334
2,1646145010,2022-03-01 09:30,2022-03-01,9.5,435.49,2022-03-02,1646254800,1.27,1.0,0.0,...,0.01607,,,0.0,300 x 300,139.59,140.690000,295.0,140.5,0.323
3,1646145010,2022-03-01 09:30,2022-03-01,9.5,435.49,2022-03-02,1646254800,1.27,1.0,0.0,...,0.01684,,,0.0,300 x 300,134.49,135.690000,300.0,135.5,0.311
4,1646145010,2022-03-01 09:30,2022-03-01,9.5,435.49,2022-03-02,1646254800,1.27,1.0,0.0,...,0.01643,,,0.0,300 x 300,129.49,130.690000,305.0,130.5,0.300

In [33]:
spy_data_raw = pd.concat([spy_jan_raw, spy_feb_raw, spy_mar_raw])

In [36]:
spy_data_raw.tail()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1547947,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08611,0.00127,...,0.93677,0.172830,0.000000,4.94,2 x 1,2.7,6.46,700.0,248.2,0.549
1547948,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09348,0.00122,...,1.01010,0.180860,0.000000,3.07,1 x 2,3.0,7.5,705.0,253.2,0.561
1547949,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09002,0.00120,...,0.97074,0.180970,0.000000,4.05,1 x 1,3.01,7.0,710.0,258.2,0.572
1547950,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08860,0.00120,...,0.96048,0.183300,0.000000,4.72,1 x 4,3.0,7.0,715.0,263.2,0.583
1547951,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.07671,0.00112,...,0.82983,0.176950,0.000000,4.17,1 x 1,3.59,4.5,720.0,268.2,0.594

In [ ]:
spy_data_raw.drop(['[QUOTE_UNIXTIME]', '[QUOTE_TIME_HOURS]', '[EXPIRE_UNIX]'], axis = 1)