In [1]:
import pandas as pd
import numpy as np 
from pathlib import Path

In [6]:
# convert vix 30 min Jan data from a txt file into a csv

vix_jan_raw = pd.read_csv("vix_30x_202201.txt")
vix_jan_raw.to_csv("vix_30x_202201.csv", index=None)

In [7]:
vix_feb_raw = pd.read_csv("vix_30x_202202.txt")
vix_feb_raw.to_csv("vix_30x_202202.csv", index=None)

In [8]:
vix_mar_raw = pd.read_csv("vix_30x_202203.txt")
vix_mar_raw.to_csv("vix_30x_202203.csv", index=None)

In [33]:
vix_raw_data = pd.concat([vix_jan_raw, vix_feb_raw, vix_mar_raw])

In [34]:
vix_raw_data

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.00000,0.00000,...,0.00,-0.01832,0.00383,0.00094,-0.06959,-0.00001,5.366720,,7.7,0.434
1,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.00000,0.00000,...,0.00,-0.00185,0.00079,0.00024,-0.00446,0.00000,3.446580,,7.2,0.406
2,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.00000,0.00000,...,0.01,-0.00170,0.00093,0.00062,-0.00408,0.00000,3.267840,1.000000,6.7,0.378
3,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.00000,0.00000,...,0.00,-0.00262,0.00100,-0.00028,-0.00467,0.00000,3.097110,,6.2,0.350
4,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.00000,0.00000,...,0.02,-0.01510,0.00438,0.00091,-0.04253,-0.00012,3.988190,11.000000,5.7,0.321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184186,1648756800,2022-03-31 16:00,2022-03-31,16.0,21.06,2022-12-21,1671656400,265.04,0.02384,0.00320,...,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,,,118.9,5.648
184187,1648756800,2022-03-31 16:00,2022-03-31,16.0,21.06,2022-12-21,1671656400,265.04,0.02377,0.00303,...,123.70,-1.00000,0.00000,0.00000,0.00000,0.00000,,55.000000,128.9,6.123
184188,1648756800,2022-03-31 16:00,2022-03-31,16.0,21.06,2022-12-21,1671656400,265.04,0.02319,0.00285,...,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,,,138.9,6.597
184189,1648756800,2022-03-31 16:00,2022-03-31,16.0,21.06,2022-12-21,1671656400,265.04,0.01875,0.00247,...,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,,,148.9,7.072
184190,1648756800,2022-03-31 16:00,2022-03-31,16.0,21.06,2022-12-21,1671656400,265.04,0.01876,0.00232,...,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,,,158.9,7.547

In [36]:
# drop the puts columns

vix_raw_data.drop(vix_raw_data.iloc[:, 20:31], inplace = True , axis=1)

vix_raw_data.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],[C_VEGA],[C_THETA],[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE]
0,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.0,0.0,0.0,-0.00031,0.00131,,9.000000,9.56,10 x 10,7.75,8.30,10.0
1,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.0,0.0,0.0,-0.00038,0.00067,,,0.00,10 x 10,7.25,7.80,10.5
2,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.0,0.0,0.0,-0.00045,0.00123,,,0.00,10 x 10,6.74,7.31,11.0
3,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.0,0.0,0.0,0.00000,0.00053,,,0.00,10 x 10,6.24,6.81,11.5
4,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.0,0.0,0.0,0.00000,0.00098,,15.000000,6.52,10 x 10,5.73,6.32,12.0

In [32]:
#vix_raw_data.drop(vix_raw_data.columns.difference([' [UNDERLYING_LAST]', '']), 1, inplace=True)

         [UNDERLYING_LAST]
0                    17.68
1                    17.68
2                    17.68
3                    17.68
4                    17.68
...                    ...
184186               21.06
184187               21.06
184188               21.06
184189               21.06
184190               21.06

[510601 rows x 1 columns]